body, html {
    height: 100%;
    padding: 0;
    background-color: #f1f2d3;
}
a {
    color: #2b7e58;
    text-decoration: underline;
}
a:hover {
    color: #2b7e58;
}

.content {
    padding: 20px;
}

.content .menu ul {
    padding: 0;
}

.content .menu ul li {
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
    text-transform: uppercase;
    display: inline;
    margin-right: 10px;
}

.content .menu ul li a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.content .menu ul li a.active {
    border-bottom: 2px solid;
}

.content .menu ul li a:hover {
    border-bottom: 2px solid;
}

.content .post {
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 2px;
}

.content .post .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content .post .date {
    color: #2b7e58;
}

.content .post .post-body {
    font-size: 16px;
    line-height: 20px;
    color: #666;
}

.content .portfolio-item {
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 2px;
}

.content .portfolio-item .description .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar {
    background-color: #85c2a6;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
}

.sidebar .item {
    margin: 20px auto;
}

.sidebar .item img {
    width: 90%;
    border-radius: 2px;
}

.sidebar .item p {
    font-family: Helvetica;
    text-align: left;
    width: 90%;
    margin: auto;
    font-size: 16px;
    line-height: 16px;
}

.sidebar .item .categories a, .sidebar .item .about a {
    color: #333;
    margin: 10px 0px;
    font-weight: bold;
    text-transform: lowercase;
    display: block;
    font-size: 20px;
    line-height: 18px;
    text-decoration: none;
}

.sidebar .item .last-posts a{
    color: #333;
    font-weight: bold;
    display: block;
    font-size: 16px;
    text-decoration: none;
}

.sidebar .item h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

.sidebar .item a:hover {
    text-decoration: none;
    color: #000;
}

.sidebar .item a img {
    position: relative;
    bottom: 11px;
}

.sidebar .item .categories {
    font-size: 20px;
    text-decoration: underline;
}

.archive ul {
    padding: 0;
}

.archive li {
    font-size: 16px;
    list-style-type: none;
}

.archive li a {
    padding: 3px 5px;
    display: block;
}

.archive li a:hover {
    background: #eee;
    text-decoration: none;
}

.archive .date {
    float: right
}