{% extends "blog/post.html" %}

{% block content %}
  <div class="post archive">
    <ul>
      {% for post in posts %}
        <li>
          <a href="{% url 'blog.views.view' post.id %}">
            <span class="date">{{ post.mod_date|date }}</span>
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

