{% extends "base.html" %}
{% block navbar-articles %}
  class="active"
{% endblock %}

{% block content %}
  <div class="post">
    <div class="title">{{ post.title }} / <span class="date">{{ post.pub_date|date:"d M Y" }}</span></div>
    <div class="post-body">
      {% autoescape off %}
        {{ post.content }}
      {% endautoescape %}
    </div>
  </div>


  <div class="post">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'krvitalpro'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
      Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>

{% endblock %}

{% block sidebar-content %}
  <div class="item">
    <legend>
      <h3>Разделы</h3>
    </legend>
    <div class="categories">
      {% for category in categories %}
        <a href="{% url 'blog.views.archive' category_id=category.id %}">{{ category.name }}</a>
      {% endfor %}
    </div>
  </div>
  <br/>
  <div class="item">
    <legend>
      <h3>Новые записи</h3>
    </legend>
    <div class="last-posts">
      {% for post in posts %}
        <a href="{{ post.id }}">{{ post.title }}</a>
      {% endfor %}
      <br/>
      <a href="/archive/">Архив записей</a>
    </div>


  </div>
{% endblock %}
