{% extends "base.html" %}
{% block navbar-about %}class="active"{% endblock %}

{% block content %}
  <div class="post">
    <div class="title">Всем привет! Меня зовут Виталий.</div>
    <div class="post-body" style="overflow: auto">
      <p>
        Я очень люблю ДУМАТЬ, поэтому занимаюсь программированием, а еще мне нравится ДЕЛАТЬ, поэтому программированием я зарабатываю.
      </p>
      <p>Основной моей профессиональной деятельностью является <strong>разработка веб-сайтов и веб-сервисов</strong> различной степени сложности.</p>
      <p style="text-decoration: underline">Несколько предложений о моих профессиональных качествах:</p>
      <ul>
        <li>
          <strong>умею решать задачи</strong>, причем стремлюсь делать это так, чтобы заказчик не думал о проблеме вообще и был уверен,
          что решение задачи будет профессиональным. Участие заказчика в решении проблемы определяется только его желанием и
          сложностью поставленной задачи
        </li>
        <li>
          <strong>умею работать в команде </strong> и стремиться к достижению общей цели. Умею признавать свои ошибки
          и прислушиваться к чужому мнению, однако, я не готов молчать, если вижу чужие ошибки, которые могут помешать
          достижению общей цели.
          Знаю, что такое конструктивный диалог, и каким образом придти к общему пониманию.
        </li>
        <li><strong>помню о конечных пользователях</strong>. Несмотря на то, что я стараюсь выполнять задачи заказчика максимально
        комфортным для него способом, я никогда не забываю о пользователях. Если я вижу, что результат может оказаться неудобным
          и есть более оптимальное решение, то я обязятельно дам знать об этом заказчику и предложу альтернативное вариант</li>
      </ul>
      <br>
      <p style="text-decoration: underline">Инструменты, которыми я владею</p>
      <ul>
        <li><strong>PHP5 и Yii framework</strong> - опыт работы 3 года. Использовал yii в нескольких серьезных проектах таких как
          <a href="/portfolio/">signtologin.com</a>  и <a href="/portfolio/">sdam74.ru</a>
        </li>
        <li><strong>Python и Django</strong> - небольшой опыт работы. На django, например, сделан этот сайт. Осваиваю python и стараюсь
          использовать во всех своих последних проектах</li>

        <li><strong>PHPUnit, Selenium, Codeception</strong> - знаю, что такое автоматизированное тестирование и умею применять его в
          разумных и неразумных количествах</li>
        <li><strong>Git, git flow</strong> - владею, на уровне достаточном, чтобы организовать контроль версий продукта в команде</li>
        <li><strong>Linux, apache, nginx</strong> - уверенный пользователь линукс. Самостоятельно могу настроить платформу для dev и production платформы</li>
      </ul>
    </div>

  </div>
{% endblock %}
{% block sidebar-content %}
  <div class="item">
    <legend>
      <h3>Умные слова, которые я знаю</h3>
    </legend>
    <div style="font-size: 18px; ">
      yii, git, github, bitbucket, php, python, django, linux, tdd, bdd, phpunit, codeception, api yandex, api 2gis,
      api paypal, linux, apache, nginx
    </div>

  </div>
{% endblock %}