{% extends "base.html" %}
{% block navbar-portfolio %}class="active"{% endblock %}

{% block content %}
  <div class="portfolio-item">
    <div class="row">
      <div class="col-lg-6">
        <a href="http://www.sdam74.ru">
          <img src="{{ STATIC_URL }}img/www.sdam74.ru_16x9_thumb.jpg" alt=""
               style="width:100%; box-shadow: 0px 0px 15px #ddd;"/>
        </a>
      </div>
      <div class="col-lg-6 description">
        <div class="title">
          Сервис поиска краткосрочной аренды жилья<br>
          <a href="http://www.sdam74.ru" rel="nofollow">www.sdam74.ru</a> |
          <a href="http://sdaminfo.ru" rel="nofollow">sdaminfo.ru</a>
        </div>
        <div class="body">
          <p>
            На проекте я начал работать в момент подготовки к релизу его обновленной версии. Мы успешно выпустили обновленную
            версию сайта, и следующие несколько месяцев наша команда работала над расширением его функциональности.
            </p><p>
            Моими основными задачами были оптимизация работы и расширение возможностей существующих модулей сайта, а также
            разработка и унификация адресной системы, построенной на базе ФИАС.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-item">
    <div class="row">
      <div class="col-lg-6">
        <a href="http://signtologin.com">
          <img src="{{ STATIC_URL }}img/signtologin.com_16x9_thumb.jpg" alt=""
               style="width:100%; box-shadow: 0px 0px 15px #ddd;"/>
        </a>
      </div>
      <div class="col-lg-6 description">
        <div class="title">
          Сервис биометрической аутентификации <a
            href="http://signtologin.com" rel="nofollow">signtologin.com</a>
        </div>
        <div class="body">
          <p>
            Одна из самых сложных работ. Проектом я занимался больше года. Signtologin - веб-сервис,
            предоставляющий возможность интеграции системы биометрической аутентификации на базе рукописной
            подписи в любой веб-сайт или корпоративную систему.
            Платформа состоит из 3х уровней:
          </p>
          <ul>
            <li>frontend + javascript-клиент для ввода подписи</li>
            <li>backend-приложение, реализующее основную бизнес-логику и API сервиса</li>
            <li>backend-сервис, реализующий математические расчеты вероятности соответствия подписи</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-item">
    <div class="row">
      <div class="col-lg-6">
        <a href="http://edu.ompec.ru">
          <img src="{{ STATIC_URL }}img/edu.ompec.ru_16x9_thumb.jpg" alt=""
               style="width:100%; box-shadow: 0px 0px 15px #ddd;"/>
        </a>
      </div>
      <div class="col-lg-6 description">
        <div class="title">
          Система дистанционного обучения<br>
          <a href="http://edu.ompec.ru" rel="nofollow">edu.ompec.ru</a>
        </div>
        <div class="body">
          <p>
            Система дистанционного обучения для Омского промышленно-экономического колледжа. С помощью данной системы
            колледж
            решает задачи дистанционного обучения студентов очных и заочных форм обучения из разных городов России. </p>
          <p>На данный момент в
            системе около 100 курсов и более 2000 пользователей.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-item">
    <div class="row">
      <div class="col-lg-6">
        <a href="http://www.ompec.ru">
          <img src="{{ STATIC_URL }}img/ompec.ru_16x9_thumb.jpg" alt=""
               style="width:100%; box-shadow: 0px 0px 15px #ddd;"/>
        </a>
      </div>
      <div class="col-lg-6 description">
        <div class="title">
          Сайт Омского промышленно - экономического колледжа<br>
          <a href="http://www.ompec.ru" rel="nofollow">www.ompec.ru</a>
        </div>
        <div class="body">
          <p>
            Официальный сайт Омского прошыленно-экономического колледжа, со сложной структурой и большим количеством
            информации.
            В ходе разработки этого сайта, я получил бесценный опыт организации работы с большим количеством людей.
          </p>

          <p>
            Моей задачей было создание сайта, который бы содержал всю официальную информацию
            о структуре колледжа, отвечал требованиям Министерства Образования и в то же время был удобным для
            преподавателей, абитуриентов, студентов и их родителей.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-item">
    <div class="row">
      <div class="col-lg-6">
        <a href="http://misfitsmovie.ru">
          <img src="{{ STATIC_URL }}img/misfitsmovie.ru_16x9_thumb.jpg" alt=""
               style="width:100%; box-shadow: 0px 0px 15px #ddd;"/>
        </a>
      </div>
      <div class="col-lg-6 description">
        <div class="title">
          Фан-сайт популярного сериала Misfits<br>
          <a href="http://misfitsmovie.ru" rel="nofollow">misfitsmovie.ru</a>
        </div>
        <div class="body">
          <p>
            Мой первый собственный сайт, который стал приносить мне доход. Я смотрел сериал Misfits и подумал, а почему бы
            не сделать сайт посвященный данному сериалу, ведь наверняка найдется много фанатов, которые захотели бы
            получать
            информацию о новых сериях и жизни героев. Так и получилось, фанатов было много. Про хайлоад я конечно и не
            заикаюсь, но это удивительное чувство, когда на твоем маленьком сайтике, за день побывало несколько тысяч
            человек.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-item">
    <div class="row">
      <div class="col-lg-6">
        <a href="http://mycccp.ru">
          <img src="{{ STATIC_URL }}img/mycccp.ru_16x9_thumb.jpg" alt=""
               style="width:100%; box-shadow: 0px 0px 15px #ddd;"/>
        </a>
      </div>
      <div class="col-lg-6 description">
        <div class="title">
          Социальная сеть для тех, кто любит делиться воспоминаниями молодости<br>
          <a href="http://myccсp.ru">myccсp.ru</a>
        </div>
        <div class="body">
          <p>
            У меня была идея - организовать сообщество людей, которые
            бы рассказывали о воспоминаниях своей молодости. Я сделал сайт, который дал такую возможность людям.
            Наверное, я не совсем правильно выбрал формат для реализации своей идеи, но зато я получил удовольствие от
            общения с людьми, которых привлекал на сайт.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-item">
    <div class="row">
      <div class="col-lg-6">
        <a href="http://vivat-bayan.ru">
          <img src="{{ STATIC_URL }}img/vivat-bayan.ru_16x9_thumb.jpg" alt=""
               style="width:100%; box-shadow: 0px 0px 15px #ddd;"/>
        </a>
      </div>
      <div class="col-lg-6 description">
        <div class="title">
          Сайт баяниста Алексея Новосёлова<br>
          <a href="http://vivat-bayan.ru/index.php" rel="nofollow">vivat-bayan.ru</a>
        </div>
        <div class="body">
          <p>
            Один из первых моих сайтов. Мне просто нравится этот человек, и то, каким ярким и красочным получился этот
            сайт, поэтому я поместил его в портфолио.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block sidebar-content %}
  <div class="item">
    <legend>
      <h3>Умные слова, которые я знаю</h3>
    </legend>
    <div style="font-size: 18px; ">
      yii, git, github, bitbucket, php, python, django, linux, tdd, bdd, phpunit, codeception, api yandex, api 2gis,
      api paypal, linux, apache, nginx
    </div>

  </div>
{% endblock %}