<!DOCTYPE html>
<html>
<head>
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <title>{% block title %}Vital Kravtsov{% endblock %}</title>
</head>
<body>
{% block columnwrap %}


  <div class="col-lg-8 content">
    {% block navigation %}
      <div class="menu">
        <ul>
          <li><a {% block navbar-articles %}{% endblock %} href="{% url 'blog.views.index' %}">Записи</a></li>
          <li><a {% block navbar-portfolio %}{% endblock %} href="/portfolio/">Портфолио</a></li>
          <li><a {% block navbar-about %}{% endblock %} href="/about/">Я</a></li>
          {#          <li><a {% block navbar-cv %}{% endblock %} href="/cv/">Резюме</a></li>#}
        </ul>
      </div>
    {% endblock %}

    {% block content %}
    {% endblock %}
  </div>

  {% block sidebar %}
    <div class="col-lg-4 sidebar">
      <div class="row">
        <div class="col-lg-6">
          {% block sidebar-content %}
          {% endblock %}
        </div>
        <div class="col-lg-6">
          <div class="item">
            <img src="{{ STATIC_URL }}img/me.jpg" alt="Vital Kravtsov">
          </div>
          <div class="item">
            <div class="about">
              <h3 style="margin-top: -15px; margin-bottom: 20px">Vital Kravtsov</h3>

              <a href="mailto:kr.vital@gmail.com">kr.vital@gmail.com</a>
              <a href="skype:vital5577?call" rel="nofollow"><i class="icon-skype icon-1x"></i> vital5577</a>
              <a href="https://bitbucket.org/krvital" rel="nofollow"><i class="icon-bitbucket icon-1x"></i>
                bitbucket</a>
              {#            <a href="http://github.com/krvital" rel="nofollow"><i class="icon-github-sign icon-1x"></i> github</a>#}
              <a href="http://vk.com/krvital"><i class="icon-vk icon-1x"></i> vkontakte</a>
              <a href="http://facebook.com/krvital"><i class="icon-facebook-sign icon-1x"></i> facebook</a>
              <a href="http://youtube.com/user/vital5577"><i class="icon-youtube icon-1x"></i> youtube</a>
              <a href="http://www.linkedin.com/in/krvital"><i class="icon-linkedin-sign icon-1x"></i> linkedin</a>
              <a href="http://www.flickr.com/photos/90241679@N06/"><i class="icon-flickr icon-1x"></i> flickr</a>
              <a href="https://www.odesk.com/users/~01d64e201cb57ab3ae">odesk</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}
</body>
</html>